# Flights Analysis
> Analysis the flights scheduled and completed in the repartition process

- toc: true 
- badges: true
- comments: true
- categories: [jupyter, python, analytics]

# Introduction
This notebook will dive into how is the repatition efforts being cared out by Pakistan. Since a lot of people are stuck aboard, and I am one of them. I want to find any biases base on part of paritcular city, or province. Also, we heard everyday on the media that X amount of people has been taken back home. This post will provid you a breakdown and the history, from where did we have most of the flight flown from, and which city received most the flight.

If you want to play with the data. It is available for down from the following link
1. [Pakistan](https://raw.githubusercontent.com/abdulwahidgul24085/confused-coder/master/data/pak_repartition_flight/pakistan.csv)
2. [scheduled](https://raw.githubusercontent.com/abdulwahidgul24085/confused-coder/master/data/pak_repartition_flight/schedule.csv)
3. [completed](https://raw.githubusercontent.com/abdulwahidgul24085/confused-coder/master/data/pak_repartition_flight/completed.csv)

If you want to know how I collected all of this data, you can [check out](https://abdulwahidgul.me/jupyter/covid/flights/repartition/python/scrapper/2020/06/14/flights_scrapper.html) this post.

In [5]:
import pandas as pd

completed = pd.read_csv('../data/pak_repartition_flight/completed.csv')
schedule = pd.read_csv('../data/pak_repartition_flight/schedule.csv')
pakistan = pd.read_csv('../data/pak_repartition_flight/pakistan.csv')

## CSV views
Following tags will show you what kind of data we have. This is the raw data that we have in our CSVs. Click on show code to see the data

In [13]:
#collapse-hide
print(('(rows, columns)'),pakistan.shape)
pakistan.head()

(rows, columns) (31, 4)

       provice           _type     city  population
0  Balochistan  municipalities  Quetta    1000000.0
1  Balochistan  municipalities  Khuzdar    148089.0
2  Balochistan  municipalities   Chaman    113115.0
3  Balochistan  municipalities   Turbat     83475.0
4  Balochistan  municipalities     Sibi     80767.0

In [12]:
#collapse-hide
print(('(rows, columns)'),schedule.shape)
schedule.head()

(rows, columns) (120, 8)

,sr_no,from_place,departure_airport,to_place,arrival_date,passengers,airline,status
0,1,Qatar(open),Doha,Islamabad,2020-06-10,250,QatarAirways,open
1,2,UAE,Lahore,Islamabad,2020-06-10,250,UAEAirline,NaN
2,3,Qatar(closed),Doha,Lahore,2020-06-10,250,QatarAirways,close
3,4,UAE,,Lahore,2020-06-10,250,PIA,NaN
4,5,SaudiArabia,Jeddah,Karachi,2020-06-10,250,PIA,NaN

In [11]:
#collapse-hide
print(('(rows, columns)'),completed.shape)
completed.head()

(rows, columns) (321, 6)

   sr_no  from_place   to_place       _date  passengers airline
0      1    Istanbul  Islamabad  2020-04-03         206     PIA
1      2     Toronto  Islamabad  2020-04-04         162     PIA
2      3  Birmingham  Islamabad  2020-04-06         132     PIA
3      4    Tashkent  Islamabad  2020-04-06         130     PIA
4      5  Manchester  Islamabad  2020-04-09          78     PIA